
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs p {
  margin: 1rem;
}

.game-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
