.form {
  margin-bottom: 3rem;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs p {
  margin: 1rem;
}

.game-cards-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.game-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
  .inputs {
    flex-direction: column;
  }
}
