.header-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-logo:hover {
  transform: rotate(360deg);
  transition: ease 2s;
  cursor: pointer;
}

.main-logo {
  animation-name: rotation;
  animation-duration: 2s;
}

.title {
  font-size: 4rem;
}

.description {
  text-align: center;
  line-height: 1.5rem;
}

/* ANIMATION */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {

  .header-div {
    margin-top: 4rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    width: 200px;
  }
}
