.header-div {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4rem;
}

.description {
  text-align: center;
  line-height: 1.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {

  .header-div {
    margin-top: 4rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    width: 200px;
  }
}
